CarRentalSystem/CarRental.WinFormUI/Connected Services/CarRentalCarService/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfCar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="carInfoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="markID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="modelID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="companyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rentalStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CarInformation" type="tns:CarInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:Company" />
          <s:element minOccurs="0" maxOccurs="1" name="Mark" type="tns:Mark" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="tns:Model" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="carInfoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="carName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ageRequired" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="airBag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="baggageVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numberOfSeats" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dailyRentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="hourlyRentalPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:Car" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="companyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="companyInfoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:ArrayOfCar" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyInformation" type="tns:CompanyInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="companyInfoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="addressID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="numberOfCar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="companyScore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:Company" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalInformation" type="tns:ArrayOfRentalInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="addressID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyInformation" type="tns:ArrayOfCompanyInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCompanyInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyInformation" nillable="true" type="tns:CompanyInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentalInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentalInformation" nillable="true" type="tns:RentalInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentalInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="rentalID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rentalDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="rentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="companyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rentalDay" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyInformation" type="tns:CompanyInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="phoneNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalInformation" type="tns:ArrayOfRentalInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="roleID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
          <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="roleID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:ArrayOfUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mark">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="markID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="markName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:ArrayOfCar" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Model">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modelID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="modelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:ArrayOfCar" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:Car" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookingResponse">
        <s:complexType />
      </s:element>
      <s:element name="Renting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RentingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="BookingSoapIn">
    <wsdl:part name="parameters" element="tns:Booking" />
  </wsdl:message>
  <wsdl:message name="BookingSoapOut">
    <wsdl:part name="parameters" element="tns:BookingResponse" />
  </wsdl:message>
  <wsdl:message name="RentingSoapIn">
    <wsdl:part name="parameters" element="tns:Renting" />
  </wsdl:message>
  <wsdl:message name="RentingSoapOut">
    <wsdl:part name="parameters" element="tns:RentingResponse" />
  </wsdl:message>
  <wsdl:portType name="CarServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <wsdl:input message="tns:BookingSoapIn" />
      <wsdl:output message="tns:BookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Renting">
      <wsdl:input message="tns:RentingSoapIn" />
      <wsdl:output message="tns:RentingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSoap" type="tns:CarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap:operation soapAction="http://tempuri.org/Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Renting">
      <soap:operation soapAction="http://tempuri.org/Renting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarServiceSoap12" type="tns:CarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Booking">
      <soap12:operation soapAction="http://tempuri.org/Booking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Renting">
      <soap12:operation soapAction="http://tempuri.org/Renting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="CarServiceSoap" binding="tns:CarServiceSoap">
      <soap:address location="http://localhost:50245/CarService.asmx" />
    </wsdl:port>
    <wsdl:port name="CarServiceSoap12" binding="tns:CarServiceSoap12">
      <soap12:address location="http://localhost:50245/CarService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>